// Colours

// Primary
$color-light-taupe: #b39c70;
$color-tan: #cbb388;
$color-dark-vanilla: #d8c8a9;
$color-bone: #e0d9cc;
$color-white-smoke: #f9f7f6;

//  hover state
$color-chamoisee: #a18a5f;

// Secondary
$color-eerie-blue: #0a141d;
$color-yankees-blue: #16283c;

// hover state
$color-dark-gunmetal: #0f1d2b;

// Neutrals
$color-charleston-grey: #292929;
$color-davy-grey: #585858;
$color-taupe-grey: #909090;
$color-light-grey: #d6d6d6;

// Font Stack
$font-stack: 'Source Sans Pro', Helvetica, sans-serif;

// Spacing Scale
$space-2xs: 0.4rem;
$space-xs: 0.8rem;
$space-sm: 1.2rem;
$space-md: 1.6rem;
$space-lg: 2.4rem;
$space-xl: 3.2rem;
$space-2xl: 4.8rem;
$space-3xl: 6.4rem;
$space-4xl: 9.6rem;
$space-5xl: 12.8rem;

// Type Scale
$text-2xs: 1rem;
$text-xs: 1.2rem;
$text-sm: 1.4rem;
$text-base: 1.6rem;
$text-lg: 1.8rem;
$text-xl: 2rem;
$text-2xl: 2.4rem;
$text-3xl: 3rem;
$text-4xl: 3.6rem;
